{% extends "base.html" %}

{% block title %}Add Videos{% endblock title %}
{% block content %}
<div class="flex items-center py-[10rem] justify-center">
    <div>
    <p class="pt-10 ml-3 pb-2">Click here to add an Html/Css Video &downarrow;</p>
<a href="/add_html_videos/"><button class="w-[20rem] bg-yellow-500 text-white p-2 hover:bg-yellow-700 rounded-md">Add!</button></a>
<p class="pt-10 ml-3 pb-2">Click here to add an JS Video &downarrow;</p>
<a href="/add_js_videos/"><button class="w-[20rem] bg-yellow-500 hover:bg-yellow-700 text-white p-2 rounded-md">Add!</button></a>
<p class="pt-10 ml-3 pb-2">Click here to add an Python Video &downarrow;</p>
<a href="/add_python_videos/"><button class="w-[20rem] bg-yellow-500 hover:bg-yellow-700 text-white p-2 rounded-md">Add!</button></a>
</div></div>
{% endblock content %}