{% extends "base.html" %}

{% block title %}Password Changed Successfully{% endblock title %}
{% block content %} <br>
<div class="items-center flex justify-center mt-40 p-2 py-12">
    <div class="">
    <h1>Your Password was Changed Successfully <a href="/myaccount/" class="underline text-purple-500">Go Back</a></h1>
</div>
</div>
<div class="items-center flex justify-center mb-40 text-emerald-300">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
      </svg>
</div><br><br><br>
{% endblock content %}      